
.row.heading
  .column.small-6.small-centered
    %h1.text-center
      Ruby on rails Subtitulo Ruby on Rails
.row
  .column.small-12
    %h3.text-center
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore

.row.video
  .column.small-12.large-8.large-centered
    .flex-video.vimeo.cover
      %iframe{:allowfullscreen => "",                      |
              :frameborder => "0",                         |
              :height => "	",                             |
              :mozallowfullscreen => "",                   | 
              :src => "//player.vimeo.com/video/60122989", |
              :webkitallowfullscreen => "", :width => "100%"} 

.row.cities-select.-top
  = render 'shared/cities'

.row.tesmonials
  .column.small-12.large-6
    .column.small-3
      %img{src:"http://lorempixel.com/400/400"}
    .column.small-9
      %blockquote
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. 
        %footer
          "Arthur Miller"
  .column.small-12.large-6
    .column.small-3
      %img{src:"http://lorempixel.com/400/400"}
    .column.small-9
      %blockquote
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. 
        %footer
          "Arthur Miller"

.row.biography
  .column.small-12
    %h2
      Raimond Garcia
  .column.small-12.large-4
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco
  .column.small-12.large-4
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco
  .column.large-4.show-for-large-only
  .column.small-12.hide-for-large-only
    %img{src:"http://lorempixel.com/800/500"}

.row.course-outline
  .column.small-12
    %h2
      Temario
  .column.small-12
    .small-8
      %h3
        Lorem ipsum dolor sit amet, consectetur adipisicing.
  - (1..3).each do |city|
    .column.small-12.medium-4
      %ul
      - (1..3).each do |city|
        %li
          Lorem ipsum dolor Lorem ipsum ipsum
  
.row.cities.-bottom
  = render 'shared/cities'

%footer.text-center
  = render "shared/footer"

     

