.column.small-12.medium-7.medium-offset-1
  = select("city", "name", @cities.all.collect {|city| city.name}, {:include_blank => "Ciudades"}, {:class => "select -big js-select-city"})
.column.small-12.medium-3.medium-pull-1
  %a.button.large.expand.disabled.js-go-city{href:"", disabled: "disabled" }
    continuar