h1{
  font-size: 1.650em;
  line-height: 1.156em;
  font-weight: 700;
}
h2{
  font-size: 1.289em;
  line-height: 1.188em;
  font-weight: 700;
}
h3{
  font-size: 25px;		
}
h4{
  font-size: 20px;
}
h5{ 
  font-size: 1em;
  font-weight: 600;
}

blockquote{
  border-left: none;
  footer{
  	font-size: 90%;
  	color: $aluminum;
  	&:before{
  	  content: ' - ';
  	  color: inherit;
  	}
  }
}
