//*-----------------------------------------------
//* My personal config 
//*-----------------------------------------------

$base-unit: 1rem;
$base-unit-half: $base-unit / 2;
$base-unit-double: $base-unit * 2;
$base-unit-quarter: $base-unit / 4;

$normal-font-size: 26px;

$red: #98213e;

