.landing-heading{
  margin-top: ($base-unit * 3);
}
.landing-heading_entry{
  &.-first{
    margin-top: ($base-unit * 2);
  }
  &.-second{
    margin-top: ($base-unit * 2.7);
  }
  &.-third{
    margin-top: ($base-unit);
  }
}

.cities-select{
  margin-top: ($base-unit * 2);
}

.biography{
  padding: 3rem 0;
  * { color: $white };
}
  .biography-heading{
    font-size: 1.5em;
  }

  .biography-body{
    >p {
      margin-top: $base-unit;
      font-weight: 100;
    }
  }

.landing-video {
  margin-top: ($base-unit * 2.5);
  .flex-video{
    margin-bottom: 0;
  }	
}

.testimonials{
  margin-top: ($base-unit * 3.5);
  padding: $base-unit 0;
  background: #faf2cd;
  blockquote{
    color: $black;
  }
}

.course-goals {
  margin-top: ($base-unit * 3);
}

.course-target{
  padding-bottom: ($base-unit * 2)
}

.course-summary{
  padding: 2 * $base-unit 0;
  background: $red;
  * { color: $white }
}
